.faq {
	.container {
		h2 {
			font-size: 50px;
			color: #68904d;
			text-align: center;
		}
		.faq-items {
			margin: 50px 0;
			transition: all 0.2s ease;

			.item-wrapper {
				margin: 15px 0;
				overflow: hidden;
				transition: all 0.2s ease;
				position: relative;

				.question {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0 50px;
					z-index: 10;
					background: #407815;
					border-radius: 10px;
					position: relative;
					cursor: pointer;
					transition: all 0.3s ease;
					&.active {
						border-radius: 10px 10px 0 0;
					}
					h3 {
						color: white;
						font-size: 20px;
					}

					img {
						width: 30px;
						cursor: pointer;

						transition: height 0.3s ease;
						&:hover {
							transform: rotate(320deg);
						}
					}
				}

				.faq-text {
					position: relative;
					background: #d3ffb7;
					border-radius: 10px;
					margin: 0;

					max-height: 0rem;

					width: 100%;
					transition: all 0.3s ease;
					&.active {
						max-height: 10rem;
						border-radius: 0 0 10px 10px;
					}
					p {
						margin: 0;
						padding: 10px;
						transition: all 0.2s ease;
						width: 100%;
						font-size: 20px;
					}
				}
			}
		}
	}
}
