.second-block {
	width: 100%;
	.container {
		h2 {
			font-size: 50px;
			text-align: center;
			color: #68904d;
		}

		.bread-crumbs {
			display: grid;
			grid-template-columns: repeat(8, 1fr);

			margin: 30px 0 10px 0;
			.crumb {
				background: transparent;
				border: 3px solid #407815;
				border-radius: 15px;
				color: #407815;
				font-weight: bold;
				text-align: center;
				height: 80%;
				width: 90%;
				cursor: pointer;
				display: flex;
				justify-content: center;
				align-items: center;
				user-select: none;
				&:hover {
					background: #d3ffb7;
				}
				&.active {
					background: aqua;
				}
				&:focus {
					background: green;
				}
			}
		}
		.burger {
			display: none;
		}
		.view {
			background-image: url(../../images/2.jpg);
			background-position: center;
			width: 100%;
			height: 500px;
			border: solid black 2px;
			margin: 80px auto;
			background-repeat: no-repeat;
			background-size: 100%;
			border-radius: 15px;
			overflow: hidden;
			.back-black {
				background: rgba(0, 0, 0, 0.59);
				width: 100%;
				height: 100%;
				color: white;

				.text {
					transition: all 0.2s ease-in-out;
					padding: 30px;
					h2 {
						font-size: 30px;
						color: white;
						text-align: center;
					}
					b {
						display: block;
						text-align: center;
						font-size: 40px;
					}
					p {
						font-size: 20px;
					}
					ul {
						list-style: none;
						li {
							margin: 20px 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1000px) {
	.second-block {
		width: 100%;
		overflow: hidden;
		.container {
			h2 {
				font-size: 50px;
				text-align: center;
				color: #68904d;
			}

			.bread-crumbs {
				display: none;

				.crumb {
				}
			}

			.burger {
				display: block;
				position: relative;

				.burger-crumb {
					background: #0f6e03;
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 0 20px;
					border-radius: 10px;
					z-index: 22;

					position: relative;
					transition: all 0.3s ease-in-out;
					&.active {
						border-radius: 10px 10px 0 0;
					}
					p {
						margin-right: 10px;
						font-size: 18px;
						font-weight: bold;
						color: white;
					}
					.burger-icon{
						width: 30px;
						height: 30px;
						position: relative;

						span{
							height: 4px;
							width: 100%;
							background: white;
							top: 10px;
							position: absolute;
							border-radius: 15px;
							&:before{
								content: '';
								height: 4px;
								width: 100%;
								background: white;
								top: -10px;
								border-radius: 15px;
								position: absolute;
								transition: all .3s ease-in-out;
							}
							&:after{
								content: '';
								height: 4px;
								width: 100%;
								background: white;
								top: 10px;
								border-radius: 15px;
								position: absolute;
								transition: all .3s ease-in-out;
							}
							&.active{
								height: 0;
								&:before{
									top: auto;
									transform: rotate(-45deg);
								}
								&:after{
									top: auto;
									transform: rotate(45deg);
								}
							}
						}
					}
				}
				.bread-crumbs-mobile {
					z-index: 20;
					position: absolute;
					background: rgba(64, 120, 21, 0.89);
					text-align: center;
					width: 100%;
					border-radius: 10px;
					color: white;
					font-weight: bold;
					padding: 0;
					transition: all 0.3s ease-in-out;
					height: 0;
					overflow: scroll;

					&.active {
						padding: 2px 0;
						height: 500px;
						border-radius: 0 0 10px 10px;
					}
					.crumb-mobile {
						width: 90%;
						margin: 0 auto;
						border-bottom: 2px solid white;
						cursor: pointer;
						user-select: none;
					}
				}
			}
			.view {
				width: 98%;
				min-height: 340px;
				height: 100%;
				.back-black {
					height: 100%;
					min-height: 340px;
					.text {
						h2 {
						}
						b {
						}
						p {
						}
						ul {
							li {
							}
						}
					}
				}
			}
		}
	}
}
